/*  TYPOGRAPHIC Styles ----------------------------------------------- */

/* Typography resets */
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td { @include zero;  direction: ltr; }

// Default Paragraphs
p { font-family: Arial, Helvetica; font-weight: normal; font-size: 0.875em; line-height: 1.6; margin-bottom: 1.25em; text-rendering: optimizeLegibility; }
h1,h2,h3,h4,h5,h6 { font-family: 'LeagueGothicRegular';
                    font-weight: normal;
                    font-style: normal;
                    line-height: 1.2125em;
                    margin-top: 0.2em;
                    margin-bottom: 0.5em;
                    text-rendering: optimizeLegibility;
                    text-transform: uppercase; }
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { font-size: 60%; color: #6f6f6f; line-height: 0; }
h1 { color:#009ee0; font-size: 2.925em; letter-spacing: -1px;}
h2 { color:#009ee0; font-size: 1.6875em; }
h3 { color:#ecbe13; font-size: 1.375em; }
h4 { font-size: 1.125em; }
h5 { font-size: 1.125em; }
h6 { font-size: 1em; }
.alpha {  font-size: 60px; font-size: 3.33333rem;margin-bottom: 0.495em; }
.beta { font-size: 48px; font-size: 2.6667rem;  margin-bottom: 0.61875em; }
.gamma { font-size: 36px; font-size: 2rem;  margin-bottom: 0.825em; }
.delta { font-size: 28px; font-size: 1.75rem; margin-bottom: 0.61875em;}
.accordionContent {  line-height: 1.63em;  font-size: 16px;  padding: 10px; }
.accordionButton { cursor: pointer; line-height: 1.5; }